// --- VARIABLES ---
// Colors
$background-color: #06071D
$foreground-color: #F3F3F3

// Others
$border-radius: 10px
$margin: 2em
$small-margin: calc($margin / 2)

// Default colors
body, input, button
    background-color: $background-color

p, h1, h2, h3, a, button, input
    color: $foreground-color

// Default styling
button, input
    border: none

button
    cursor: pointer

button, input
    border-radius: $border-radius
